body {
  font-family: Roboto, sans-serif;
  background-image: url("../imagenes/backgrounreto10.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 15px 40px;
  background-color: #415a77;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #778da9;
}

#resultado {
  margin-top: 20px;
}

.result-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/*AQUI EMPIEZA EL DISEñO DE HEADER Y FOOTER*/
/* Estilos del header */
header {
    background-color: #1b263b;
    color: #e0e1dd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  /*Estilo logo*/
  header img {
    width: 275px;
    position: absolute;
    top: -11.7%;
    right: 1428px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    margin-left: 1150px;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav ul li a {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    margin: 23px;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Aca empieza el footer */
  footer {
    background-color: #0d1b2a;
    color: #e0e1dd;
    text-align: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  footer p {
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }
  
  footer .social-icons {
    display: flex;
    justify-content: center;
  }
  
  footer .social-icons a {
    margin: 0 10px;
    color: #e0e1dd;
  }
  
  /* Dropdown estilo */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #1b263b;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown .dropbtn {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  .dropbtn {
    margin-top: -10px;
  }
  